.corner-decor {

}

.axis-label {
-fx-font-family: "Times New Roman", Times, serif;
-fx-font-weight: bold
}

.info-wrapper {
-fx-spacing: 20;
-fx-padding: 10;
}

.chess-button {
-fx-pref-width: 220;
//-fx-color: gray;
-fx-alignment: CENTER;
}

.board-grid {
-fx-hgap: 5;
-fx-vgap: 5;
-fx-alignment: center;
}

.turn-counter-label {
-fx-font-family: "Times New Roman";
-fx-padding: 10;
-fx-font-size: 30;
-fx-background-color: antiquewhite;
-fx-border-size: 5;
-fx-border-color: black;
}

.board-view {
-fx-border-width: 4;
-fx-border-color: black;
-fx-corner-radius: 20;
}

.board-view:light {
-fx-background-color: -white-turn;
}

.board-view:dark {
-fx-background-color: -black-turn;
}

.chess-axis {
-fx-font-family: "Times New Roman", Times, serif;
-fx-font-weight: bold
}

.chessboard-background {
 -fx-fill: -board-back;
}
.chessboard-edging {
-fx-fill: -board-edge;
}

.chess-tile {
}

.tile-light {
-fx-background-color: -light-tile;
}

.tile-dark {
-fx-background-color: -dark-tile;
}

.chess-tile:move{
-fx-background-color: -move-tile;
}

.chess-tile:capture {
-fx-background-color: -capture-tile;
}


.promotion-image {
  -fx-margin: 5;
-fx-border-color: black;
 -fx-border-width: 8;
}

.promotion-pane {

  }

