.root {
-white-turn: whitesmoke;
-black-turn: darkgray;


-light-tile: linear-gradient(to bottom, #f6e3c3, #e6cfa8);
-dark-tile: linear-gradient(to bottom, #c19a6b, #9b6f3e);
-board-back: linear-gradient(to bottom, #5c3b1e, #3e2612);
-board-edge: #e0d8ca;

-move-tile: #0e568a; // #0e568a is nice blue
-capture-tile: #990b06; // red
}